[Unit]
Description=Dispersy tracker listening at port %i

[Service]
ProtectSystem=yes

Environment="PYTHONPATH=/opt/dispersy"

WorkingDirectory=/opt

ExecStartPre=/bin/mkdir -p ${HOME}/%i
ExecStart=/usr/bin/twistd --nodaemon --pidfile= tracker --port=%i --statedir=${HOME}/%i

User=dispersy_tracker
Group=dispersy_tracker

Restart=always

[Install]
WantedBy=multi-user.target
